.App {
    display: flex;
}

.HomeBox {
    background-image: url('../images/oscann.png');
  background-position: center;
  width: 73em;
  height: 45em;
  background-repeat: no-repeat;
  background-size: 1185px;
  margin-top: 50px;
}