.App {
    display: flex;
}

.HomeBox {
    background-image: url("../images/aura-products-oscann.png");
    width: 70em;
    height: 49em;
    align-content: center;
    background-origin: content-box;
    background-repeat: no-repeat;
}