.sidebarall {
    display: flex;
    height: 100vh;
    font-family: Monaco;
    font-weight: bold;
    font-size: 00px;
    float: left;
    margin-left:  -14em;
    position: relative;
    left: 15em;
}

.ProSidebar {
    height: 100vh;
    background-color: rgb(245, 245, 245);
    font-family: Monaco;
    font-weight: bold;
    font-size: 400px;
    color: black;
    overflow-y:scroll;
}

.Menu {
    font-family: Monaco;
    font-weight: bold;
}

.myIcon {
    font-size: 35px;
}

.mySubIcon {
    font-size: 35px;
}

.iconoOscanns {
    font-size: 35px;
}