.sidebarall {
    display: flex;
    height: 100vh;
    font-family: Monaco;
    font-weight: bold;
    font-size: 00px;
    float: left;
    margin-left:  -14em;
    position: relative;
    left: 15em;
    text-align: justify;
}

.ProSidebar {
    height: 100vh;
    background-color: #1e1e21;
    font-family: Arial Rounded MT Bold, Monaco;
    position: relative;
    font-weight: bold;
    font-size: 400px;
    color: rgb(255, 255, 255);
    overflow-y:scroll;
    text-align: justify;
}

.Menu {
    font-family: Arial Rounded MT Bold, Monaco;
}

.myIcon {
    font-size: 35px;
}

.mySubIcon1 {
    font-size: 35px;
}

.mySubIcon2 {
    font-size: 35px;
}

.iconoOscanns {
    font-size: 35px;
}

.Hola {
    right: 42px;
}

.searchContainer {
    font-size: large;
    margin-left: 25px;
}